{
    "ENV": "dev",
    "CONTEXT_TIMEOUT": "2",
    "DOMAIN": "https://queue-system.vip",
    "TOKEN_SIGN_KEY": "im_token_sign_key",
    "EMAIL_FROM": "queue_system@gmail.com",
    "EMAIL_SERVER": "smtp.elasticemail.com",
    "EMAIL_PORT": "2525",
    "EMAIL_USERNAME": "jerry",
    "EMAIL_PASSWORD": "aaabbbccccccc",
    "POSTGRES_SSL": "disable",
    "POSTGRES_USER": "dev",
    "POSTGRES_PASSWORD": "dev",
    "POSTGRES_HOST": "db",
    "POSTGRES_PORT": "5432",
    "POSTGRES_DB": "queue_system",
}